.DS_Store
build/jadeai-0.1.0.0-rpi5-hailo8/backend/app 2.py
build/jadeai-0.1.0.0-rpi5-hailo8/backend/app.py
build/jadeai-0.1.0.0-rpi5-hailo8/deployment/hailo_setup.py
build/jadeai-0.1.0.0-rpi5-hailo8/deployment/jadeai.service
build/jadeai-0.1.0.0-rpi5-hailo8/deployment/nginx.conf
build/jadeai-0.1.0.0-rpi5-hailo8/deployment/package.sh
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/index-COiHhp-o.js
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/index-Di4OQvY9.css
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-300-normal-Dg7J0kAT.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-300-normal-DJfICpyc.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-400-normal-BiRJyiea.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-400-normal-JN0iKxGs.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-500-normal-_hamcpv8.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-500-normal-YnJLGrUm.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-700-normal-BJaAVvFw.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-700-normal-jruQITdB.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-300-normal-BLLmCegk.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-300-normal-Chhwl1Jq.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-400-normal-b0JluIOJ.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-400-normal-D76n7Daw.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-500-normal-37WQE4S0.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-500-normal-BJvL3D7h.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-700-normal-CyZgh00P.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-cyrillic-ext-700-normal-DXzexxfu.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-300-normal-Bx8edVml.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-300-normal-D3gN5oZ1.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-400-normal-IIc_WWwF.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-400-normal-LPh2sqOm.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-500-normal-Bg8BLohm.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-500-normal-CdRewbqV.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-700-normal-1IZ-NEfb.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-greek-700-normal-Bs05n1ZH.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-300-normal-BizgZZ3y.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-300-normal-BZ6gvbSO.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-400-normal-BVyCgWwA.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-400-normal-DXyFPIdK.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-500-normal-C6iW8rdg.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-500-normal-rpP1_v3s.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-700-normal-BWcFiwQV.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-700-normal-CbYYDfWS.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-300-normal-BzRVPTS2.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-300-normal-Djx841zm.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-400-normal-BSFkPfbf.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-400-normal-DgXbz5gU.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-500-normal-DvHxAkTn.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-500-normal-OQJhyaXd.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-700-normal-Ba-CAIIA.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-latin-ext-700-normal-DchBbzVz.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-300-normal-CAomnZLO.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-300-normal-PZa9KE_J.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-400-normal-D5pJwT9g.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-400-normal-DhTUfTw_.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-500-normal-LvuCHq7y.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-500-normal-p0V0BAAE.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-700-normal-B4Nagvlm.woff
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/assets/roboto-vietnamese-700-normal-CBbheh0s.woff2
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/index.html
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/vite 2.svg
build/jadeai-0.1.0.0-rpi5-hailo8/frontend/vite.svg
build/jadeai-0.1.0.0-rpi5-hailo8/install.sh
build/jadeai-0.1.0.0-rpi5-hailo8/models/hailo/yolov8.hef
build/jadeai-0.1.0.0-rpi5-hailo8/README.md
build/jadeai-0.1.0.0-rpi5-hailo8/requirements.txt
